{#
    /**
     * @file
     * Item template for Owl Carousel
     */
#}
{% extends "owlcarousel-wrapper.html" %}

{% block item %}
    <div class="item">
        {{ item.content }}
    </div>
{% endblock item %}