{#
    /**
     * @file
     * Wrapper template for Owl Carousel
     */
#}


<div class="owl-carousel js-owlCarousel--{{ owl.id }}">
    {% if owl.items is defined %}
        {% for item in owl.items %}
            {% block item %}{% endblock %}
        {% endfor %}
    {% endif %}
</div>
